
.contactsPageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsPageBox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../photos/backgroundContactList.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -1;
}