
.formBox{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

.formSmallBox{
    display: flex;
    flex-direction: column;
}

.formField{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 30px;
    color: #fff;
}

.formFieldBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formBtn{
    background-color: transparent;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;
}

.formFieldLabel{
    color: #fff;
    font-size: large;
}