
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../photos/backgroundHomePage.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -1;
}